@font-face {
  font-family: 'GratelosDisplay';
  src: url('./assets/fonts/gratelosdisplay.woff2');
}
@font-face {
  font-family: 'Skia_normal';
  src: url('./assets/fonts/skia_normal.woff2');
}

@font-face {
  font-family: 'Skia';
  src: url('./assets/fonts/skia_normal.woff2');
}

#root {
  max-width: 874px;
  width: 100%;
  margin: auto;
  text-align: center;
}

.backgroundTopMain {
  background-image: url('/src/assets/images/bgTopMain1x.webp');
}

@media (width > 768px){
  .backgroundTopMain {
    background-image: url('/src/assets/images/bgTopMain3xSinLogo.webp');
  }
}
/*-------------------------------*/
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.enlaceGuayu{
  animation: growShrink 1s infinite;
}

@keyframes growShrink {
  0%, 100% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
}
/*-------------------------------*/
.hover-target {
  transform: translateX(50%);
  transition: transform 0.5s ease;
}
.hover-content {
  opacity: 0;
  transform: translateX(0%);
  transition: opacity 0.5s ease, transform 0.3s ease;
}

@media (min-width: 992px) {

  .hover-target:hover .hover-content {
    opacity: 1;
    transform: translateX(0%);
  }

  .hover-target:hover {
    transform: translateX(0%);
  }
}